
.about
    display: block
        

    .left
        background: $gray
        display: flex
        align-items: center
        justify-content: center
        height: 100vh
        padding: 30px
        z-index: 1200
        

        h1
            text-align: center
            font-family: 'Fascinate Inline', cursive
            font-size: 40px
            color: white
            
    .right
        height: 100%
        padding: 24px
        

        p
            font-size: 16px
            line-height: 28px
            text-align: start
            margin: auto
            font-family: 'Nunito',sans-serif
        
        h1
            font-size: 18px
            font-family: 'Nunito Sans', sans-serif
            font-weight: 700

        section
            padding: 12px
            max-width: 700px
            margin: auto    

    @media screen and (min-width: 960px)
        display: flex
        position: relative

        .left
            width: 50%
            padding: 0
            
        .right
            width: 50%
            position: relative
            padding: 0
            padding-top: 24px
            margin: auto 0 auto auto
           
            

            .right-content
                margin: auto
                max-width: 70%

                section
                    margin: auto

            
        
    

