.hero
    display: flex
    padding: 0
    transition: 0.5s
    flex-direction: column
    margin: auto
    text-align: center
    background: #121212
    position: relative

    .logo
        display: flex
        justify-content: space-around
        padding: 0 40vw
        align-items: center
        

    .logo img
        position: relative
        height: 50px
        margin: 1em auto
        margin-bottom: 0
    figure
        margin-top: 3vh
        margin-bottom: 5vh


    img
        position: absolute
    #back-left
        display: block
        left: 0
        bottom: 0
        height: 80vh
        filter: blur(4px)
    #back-right
        display: block
        right: 0
        bottom: 0
        height: 73vh
        filter: blur(3.5px)

    #wel
        display: block
        top: 30%
        left: 50%
        transform: translateX(-50%)
        height: 10vh
        filter: blur(0px)
    #come
        display: block
        top: 50%
        left: 50%
        transform: translateX(-50%)
        height: 10vh
        filter: blur(0px)
    #middle-top
        display: block
        top: 20%
        left: 50%
        transform: translateX(-50%)
        height: 8vh
        filter: blur(2px)
    #middle
        display: block
        top: 38%
        left: 50%
        transform: translateX(-50%)
        height: 28vh
        filter: blur(0px)
    #middle-bottomleft
        display: block
        top: 52%
        left: 40%
        transform: translateX(-50%)
        height: 25vh
        filter: blur(2px)
    #middle-topleft
        display: block
        top: 26%
        left: 41%
        transform: translateX(-50%)
        height: 4vh
        filter: blur(1px)
    #middle-topright
        display: block
        top: 30%
        left: 60%
        transform: translateX(-50%)
        height: 8vh
        filter: blur(0px)
    #middle-bottomright
        display: block
        top: 64%
        left: 55%
        transform: translateX(-50%)
        height: 6vh
        filter: blur(0px)
    
 
    nav
        margin: auto
        z-index: 1000
        margin-bottom: 40px
        padding: 0
        width: 80%
        max-width: 350px

        ul
            margin: auto
            padding: 0
            display: flex
            justify-content: space-between
            list-style: none

            li, span
                font-family: 'Nunito Sans', sans-serif
                color: $yellow
                padding: 0.3em

                a
                    text-decoration: none
                    color: $yellow
        
    